header {
  height: 500px;
  background-image: url("Main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

html {
  margin: 0px;
  padding: 0px;
  background-color: #e7e6e6;
}

#header-text {
  margin: 0px;
  padding: 150px;
  font-size: 100px;
  font-family: "Aleo", serif;
  text-align: center;
  color: #686160;
}
